/RemoteCtrl/.vs
/RemoteCtrl/.vs/RemoteCtrl/v16/.suo
/RemoteCtrl/.vs/RemoteCtrl/v16/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch/396e912417f470d2.ipch
/RemoteCtrl/.vs/RemoteCtrl/v16/ipch/3b258918daccb4cc.ipch
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.aps
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug
